h1{
    background-color: #A31621;
    font-size: 25px;
    font-weight: bold;
    font-family: Audiowide;
    color: white;
}
form{
    background-color: #FCA311;
    font-size: 25px;
    font-weight: bold;
    font-family: Audiowide;
    color: black;
}
body{
    background-color: #FBE799;
}
